#mp1 {
    border-top: 3px solid tomato;
    border-bottom: 5px solid tomato;
 }

#mp1 main{
    background-color: darkslateblue;

}

#mp1 aside{
    background-color: darkcyan;

}

#mp1 > footer{
    background-color: darksalmon;
}

/* poner borde al pie de los articulos */
#mp1 article > footer {
    border: 5px double darkkhaki;
}

/* hermano general */
#mp1 h2~article{
    box-shadow: 5px 5px 5px palevioletred;
}

/* hermano adyacente */
#mp1 h2 + article, #mp1 nav, [href="#"] {
    border-top: 5px double palegreen;
}